
body {
	background: #fff;
	margin: 0;
	height: 1500px;
}
table, td, #main {
	background: transparent !important;
}
#main, .contentModule, table {
	border: 0 !important;
	height: auto;
}
#main {
	width: 100%;
	margin: 0;
}
#content {
	width: 1000px;
	margin: -3em auto;
}
body, b, td, .medText, a {
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300 !important;
	font-size: 7pt;
	letter-spacing: 0.15em;
	color: #858c8d !important;
	line-height: 200%;
}
.lead {
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 5em;
	min-height: 100%;
	margin-bottom: -330px;
	position: relative;
}
.lead a {
	display: inline-block;
	width: 19%;
	margin: 0 -1%;
}
.lead img {
	width: 100%;
	border: 10px solid transparent;
}
.lead a:hover img {
	border-color: #e25c13;
}
.blurb {
	background: url("http://i.imgur.com/6rLC6uh.jpg") fixed center repeat;
	width: 100%;
	margin-top: 12em;
	padding: 7em 0;
}
.contain {
	width: 700px;
	margin: 0 auto;
}
.blurb p {
	width: 46%;
	margin: 0 2.5% 3% 0;
	float: left;
	text-align: justify;
}

.weatherR {
	width: auto;
}

.weatherR img {
	width: 50px
}
h1 {
	font-weight: 300;
	text-transform: uppercase;
}

.footer {
		text-align: center;
		height: 150px;
		/* position: fixed; */
		bottom: 0px;
		left: 100px;
}

.footer a {
	color: #858c8d !important;
	padding: 0.5em 1.5em;
	display: block;
}
.footer a:hover, h1 {
	color: #e25c13 !important;
}

